.App {
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  max-width: 450px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  box-shadow: 5px 5px 15px rgb(190, 188, 188);
}

.App h1 {
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: rgba(128, 128, 128, 0.625);
  padding-bottom: 40px;
}

.App h2 {
  font-size: 40px;
  text-align: center;
  color: rgba(128, 128, 128, 0.625);
  padding-bottom: 40px;
}

.App h3 {
  font-size: 20 px;
  text-align: center;
  color: rgba(128, 128, 128, 0.625);
  padding-bottom: 40px;
}
.App div .icon {
  position: relative;
  left: 20px;
}
